.nav {
  display: flex;
  justify-content: space-between;
  /* margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem; */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

h2 {
  color: whitesmoke;
  position: relative;
  left: 10px;
}

.searchbar {
  position: relative;
  right: 20px;
}
